*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-y: scroll;
    min-width: 472px;
    background-color:#fcfcfd;
}
.container{
    width: 432px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
                0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color:#ffffff;
}
.child-two{
    height: 659px;
    transform: translateY(20%);
}
.child{
    height: 509px;
    transform: translateY(40%);
}
.content{
    height: 16%;
    border-bottom: rgb(219, 209, 209) 1px solid;
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.label{
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.content div:first-child{
    font-size: 25px;
    color: #1c1e21;
    font-size: 32px;
    font-weight: 600;
    box-sizing: border-box;
}
#close{
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 2;
    width: 50px;
    height: 26px;
}
.row{
    padding: 4px 4px;
}
.col-4 input{
    position: absolute;
    transform: translate(800%,-230%)
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline
}
.btn{
    width: 180px;
}
.but{
    padding-top: 8px;
    text-align: center;
}