<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/clients/src/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-8">
            <div class="container">
                <div class="row login-wrapper">
                    <div class="col-7 col-md-12 account-info"></div>
                    <div class="col-5 col-md-12 login-form"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <button type="button" class="btn btn-primary">Primary</button> -->
</body>
<!-- Import dependence-->
<script src="/clients/src/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../libs/jquery/"></script>

<script>
     $(document).ready(function() {
         // GET
         $('btn-warning').click(function() {
             $(alert('')).removeClass('disabled')
         }
         )
     })
     
</script>
</html>